@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "About";
}

<h2>About Page</h2>
<div class="container">
    <p class="lead font-weight-bolder">This is a school project </p>
    <p class="lead font-weight-bolder">Author: Vova Zhdanov</p>
    <p class="lead font-weight-bolder">Email: zhd18001@byui.edu</p>
</div>