@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a university where you can achive everything.
            <blockquote>
                -"Civium in moribus rei publicae salus"
            </blockquote>
            <blockquote>
                -"The welfare of the state depends upon the morals of its citizens"
            </blockquote>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/img/people-sitting-on-desks-inside-well-lit-room-159740.png" alt="people in the room"  class="img-thumbnail"/>
    </div>
</div>